# Script for crafting Adversarial Examples

In [6]:
import pandas as pd

In [18]:
data = pd.read_json('data/laptop_train.json')
data.head()

,@id,text,aspectTerms
0,2339,I charge it at night and skip taking the cord ...,"[{'@term': 'cord', '@polarity': 'neutral', '@f..."
1,812,I bought a HP Pavilion DV4-1222nr laptop and h...,NaN
2,1316,The tech guy then said the service center does...,"[{'@term': 'service center', '@polarity': 'neg..."
3,2328,I investigated netbooks and saw the Toshiba NB...,NaN
4,2193,The other day I had a presentation to do for a...,NaN

In [19]:
data['text'][:10]

0    I charge it at night and skip taking the cord ...
1    I bought a HP Pavilion DV4-1222nr laptop and h...
2    The tech guy then said the service center does...
3    I investigated netbooks and saw the Toshiba NB...
4    The other day I had a presentation to do for a...
5    it is of high quality, has a killer GUI, is ex...
6    Easy to start up and does not overheat as much...
7                                        Sad very SAD.
8    I even got my teenage son one, because of the ...
9    Needless to say a PC that can't support a cell...
Name: text, dtype: object

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3048 entries, 0 to 3047
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   @id          3048 non-null   int64
 1   text         3048 non-null   object
 2   aspectTerms  1492 non-null   object
dtypes: int64(1), object(2)
memory usage: 71.6+ KB

## Perturbation Methods
### 1. leet speech
### 2. punctuation marks
### 3. typos


Also zuerst
neues Dataframe
text reinladen
Ã¼ber items in text gehen
alle punctuation marsk ruas nehmen

In [ ]:
advpunct = []